body {
  min-width: 400px;
  min-height: 300px;
}

button {
  display: block;
  margin: 6px 0 !important;
  width: 100%;
}

.page {
  display: none;
}
.show {
  display: block;
}
.flex {
  display: flex;
}
.flex > button {
  margin: 5px !important;
}
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loadingWraper {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
